Pascal
Physionet
non technical docs
Technical docs
codes/logs/*
codes/.idea/*
codes/*.eps
codes/*.mat
codes/*.png
codes/*.csv
codes/.ipynb_checkpoints/*
baselines/arff/*
baselines/mfcc/*
baselines/*.csv
baselines/*.mat
.fuse*
*.m~
baselines/.idea/*
baselines/baseline_boaw/feat/*
baselines/FBANK/*.mat
baselines/FBANK/*.csv
baselines/wav/*
baselines/.ipynb_checkpoints/*
baselines/**/*.mat
baselines/models
**/.idea
data/*
!data/filterbankInit
!data/filterbankInit/*
models/*
logs/*
**/*.pyc
